html {
	max-width: 1200px; 
	margin: 0 auto; 
}
a {
	color: white;

}

.nav-link:hover {
	color: #CC5500;
	text-decoration: none;
}

#nav-active {
	color: #CC5500;
}

.top-nav {
	background-color: #050301;
	color: white;
	height: 60px;

}

.nav-content {
	list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

.nav-items {
	float: right;
	color: white;
	font-size: 25px;
	margin-top: 10px;
	padding-right: 30px;
	margin-right: 10px;
}

.nav-link {
	padding-right: 10px;
}
.logo {
	float: left;
	font-size: 25px;
	margin-top: 15px;
	margin-left: 20px;
}

.logo:hover{
	color: white;
	text-decoration: none;
}

.recipe-list {
	box-sizing: border-box;
	background-color: white;
	background-size: cover;
	min-height: 225px;
	width: 1200px;
}

.top-left {
	width: 600px;
	height: 200px;
	background-color: white;
	float: left;

}

.top-right {
	width: 600px;
	height: 200px;
	float: left;
	background-color: white;
	
}

.bottom-left {
	width: 600px;
	height: 200px;
	background-color: white;
	float: left;
	
}

.bottom-right {
	width: 600px;
	height: 200px;
	background-color: white;
	float: left;
	display: flex;

	
}

.box-info {
	border: 2px solid #CC5500;
	width: 450px;
	height: 150px;
	margin: 25px 75px;
}


.headline {
	font-weight: bold;
	font-size: 20px;
	font-family: arial;
	padding-left: 10px;
	padding-top: 10px;

}

.body {
	font-size: 14px;
	font-family: arial;
	padding-left: 10px;

}

.link {
	font-family: arial;
	font-size: 16px;
	float: right;
	padding-right: 30px;
	color: black;
	font-weight: bolder;
}

.link:hover {
	color: #CC5500;
	text-decoration: none;
}

.footer {
	background-color: #050301;
	height: 60px;
	color: white;
	font-family: arial;
	font-size: 16px;
	padding-top: 20px;
	padding-left: 20px;
	width: 1200px;
	float: left;
}