html {
  max-width: 1200px; 
  margin: 0 auto; 
}
a {
  color: white;

}

.nav-link:hover {
  color: #CC5500;
  text-decoration: none;
}

#nav-active {
  color: #CC5500;
}

.top-nav {
  background-color: #050301;
  color: white;
  height: 60px;

}

.nav-content {
  list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

.nav-items {
  float: right;
  color: white;
  font-size: 25px;
  margin-top: 10px;
  padding-right: 30px;
  margin-right: 10px;
}

.nav-link {
  padding-right: 10px;
}
.logo {
  float: left;
  font-size: 25px;
  margin-top: 15px;
  margin-left: 20px;
}

.logo:hover{
  color: white;
  text-decoration: none;
}

.recipe {
  box-sizing: border-box;
  background-color: none;
  background-size: cover;
  min-height: 300px;
  width: 1200px;
  display: flex;
}

.recipe__name {
  width: 100%;
  float: left;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: arial;
  padding: 10px 0;
}

.recipe__family {
  width: 100%;
  float: left;
  text-align: center;
  font-size: 20px;
  font-family: arial;
  padding: 10px 0;
}

.col-image {
  width: 30%;
  display: block;
  float: left;
  height: 100%;
  background-color: none;
}

.col-content {
  width: 40%;
  display: inline-block;
  float: left;
  height: auto;
  background-color: none; 
}

.col-history {
  width: 30%;
  float: left;
  height: 100%;
  display: block;

}

.history-wrapper {
  margin-top: 20px;
  padding-right: 20px;
  margin-left: 30px;
  margin-right: 30px;
  min-height: 300px;
  box-sizing: border-box;
  background-image: url(../assets/cuttingboard2.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

.image-wrap {
  margin-left: 15%;
  margin-top: 10%;

}

.col-content__headline {
  font-size: 28px;
  font-family: arial;
  font-weight: bold;
  margin-top: 50px;
  color: black;
}

.col-content__copy{
  font-size: 16px;
  font-family: arial;
  color: black;
}

.col-content__family{
  font-size: 20px;
  font-family: arial;
  color: black;
}

.col-content__link {
  color: #CC5500;
  font-size: 16px;
  float: right;
  font-weight: bold;
  margin-bottom: 20px;
}

.col-content__link:hover {
  color: black;
}

.col-history__headline {
  font-size: 28px;
  font-family: arial;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 20px;
  color: black;
  text-align: center;
}

.col-history__copy{
  font-size: 16px;
  font-family: arial;
  padding-left: 20px;
  color: black;
  padding-bottom: 20px;
}

.footer {
  background-color: #050301;
  height: 60px;
  color: white;
  font-family: arial;
  font-size: 16px;
  padding-top: 20px;
  padding-left: 20px;
}
